@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1676e4;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 60px;
  margin-bottom: 70px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: rgb(255, 255, 255);
  margin: 5px;
  margin-bottom: 60px;
  width: 350px;
  padding: 30px;
  line-height: 20px;
  color: #5c2222;  
  position: relative;
}

.team .team_member h3{
  color: #000000;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: rgb(241, 13, 24);
  margin: 12px 0;
  font-size: 13px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  padding: 25px;
  text-align: center;
  
  background:  #7A46F1;
  grid-row-gap: 350px;
}